@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="tr">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Hasan  Baysal">

    <meta name="description" content="Online Psikolog Merkezi, alanında uzman psikolog kadrosuyla online terapi hizmetleri veren ve danışanların sorunlarına çözüm odaklı yaklaşan bir platformdur.">
    @*<meta name="keywords" content="online terapi,online psikoloji,psikolojik danışmanlık, psikolojik destek, depresyon, online psikolog, kaygı, stres, depresyon">*@
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Online Psikolog Merkezi | Online Psikolojik Destek">
    <meta property="og:description" content="Anında terapiye başla! Online Psikolog Merkezi, alanında uzman psikolog kadrosuyla, danışanların sorunlarına çözüm odaklı yaklaşan bir platformdur.">

    <meta property="og:site_name" content="Online Psikolog Merkezi">
    <link rel="canonical" href="https://onlinepsikologmerkezi.com/">
    <title>Online Psikolog Merkezi ile Online Terapi | OnlinePsikologmerkezi.com</title>



    @*GA4 Bağlantısı*@
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DGCHDRDQ5N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-DGCHDRDQ5N');
    </script>


    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Site Title -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/lightgallery.min.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link href="~/assets/css/owl.css" rel="stylesheet" />
    <link href="~/assets/css/owlmin.css" rel="stylesheet" />

    <link href="~/assets/css/owltheme.css" rel="stylesheet" />
    <style>


        .pricebtn
        {
            background-color: #5ABB4A;
            color: #FFFFFF;
        }

        .custom-btn {
            border: 1px solid rgb(121,82,179);
            background-color: #FFFFFF;
            color: rgb(121,82,179);
        }

            .custom-btn:hover {
                background-color: rgb(121,82,179);
                color: #FFFFFF;
            }


        .randevu-btn {
            background-color: #1688D2;
            color: white;
        }

        .cv-btn{
            background-color: #DE187F;
            color: white;
        }

        .custom-tag {
            background-color: #E6F3FC;
            color: #1688D2;
        }



        .custom-card {
            border: 1px solid #bdbdbb;
        }

        .custombox {
            transition: box-shadow .3s;
           /* border-left: 2px solid #7952B3;*/
        }

            .custombox:hover {
                box-shadow: 0 0 18px rgba(20,20,20,.2);
            }

        .blog-item {
            transition: box-shadow .3s;
        }

            .blog-item:hover {
                box-shadow: 0 0 20px rgba(20,20,20,.4);
            }

                .blog-item:hover img {
                    filter: opacity(85%);
                    transition: filter 0.3s ease;
                }

        .mgrid {
            /* display: flex;
                            flex-wrap: wrap;*/
        }


        .hover-border::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: #7952B3;
            transition: width 0.5s ease-in-out; /* Uzama animasyonu için geçiş süresi ve geçiş tipi */
        }

        .hover-border:hover::after {
            width: 100%; /* Uzama animasyonunda genişlik 100% olacak şekilde ayarlandı */
        }

        .owl-item {
            width: 128.906px;
            margin-right: 10px;
        }
    </style>
</head>




<body>
    @RenderBody()
    @await Component.InvokeAsync("Notyf")
</body>




</html>

