












@{
    ViewData["Title"] = "Blogg Add";
    Layout = "_Layout";
}
@model BlogAddDto
<h1 class="text-center">Psikolog Ekle</h1>


<div class="row">
    <div class="col-md-10 mx-auto">
   <form  asp-action="BlogAdd" asp-area="Admin" asp-controller="Home" enctype="multipart/form-data" >

    

    <div class="mb-3">

        <label  class="form-label" asp-for="ArticleUrl">Blog Url (Türkçe karakter içeremez)</label>
        <input placeholder="depresyonla-mucadele-yazi-1" class="form-control"  asp-for="ArticleUrl" />
        <span asp-validation-for="ArticleUrl"></span>

    </div>

    <div>
         <label  class="form-label" asp-for="Title">Html Title 60-70 karakter arasında olmalıdır.</label>
        <input class="form-control"  asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>


    <div class="mb-3">

        <label class="form-label" asp-for="Key">Html Meta keys </label>
        <input placeholder="anahtar kelime1, anahtar kelime2," class="form-control" asp-for="Key" />
         <span asp-validation-for="Key"></span>
    </div class="mb-3">


    <div class="mb-3" >
     
        <label class="form-label" asp-for="Description">Html Meta Açıklama max  160 karakter</label>
        <input class="form-control" asp-for="Description" />
         <span asp-validation-for="Description"></span>

    </div>



    <div class="mb-3">
     
          <label class="form-label" asp-for="Header">Yazı Başlık</label>
        <input class="form-control" asp-for="Header" />
         <span asp-validation-for="Header"></span>
    </div>

    
    <div class="mb-3">
     
          <label class="form-label" asp-for="Author">Yazar</label>
        <input class="form-control" asp-for="Author" />
         <span asp-validation-for="Author"></span>
    </div>

 

    <div class="mb-3">
        <label asp-for="Image" class="form-label">Blog Resmi</label>
           <span asp-validation-for="Image"></span>
        <input class="form-control form-control-lg" asp-for="Image" type="file">
    </div>


    


    <div class="mb-3">

          <span asp-validation-for="Content"></span>
        <label asp-for="Content" class="form-label"> Blog İçerik Alanı </label>
        <textarea id="cont" asp-for="Content" class="form-control">


        </textarea>

    </div>

    <div class="mb-3">

        <button type="submit" class="btn btn-primary"> Blog Ekle</button>

    </div>

</form>


    </div>
</div>




@section Scripts{



<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


@*<script src="~/assets/adminform/trumbowyg1.js"></script>*@


<script src="~/assets/js/trumbowyg.min.js"></script>

<script src="~/assets/adminform/trumtrlang2.js"></script>
<script src="~/assets/adminform/trumcolor3.js"></script>
<script src="~/assets/adminform/trumemoji4.js"></script>
<script src="~/assets/adminform/trumfontfam5.js"></script>
<script src="~/assets/adminform/trumfontsize6.js"></script>
<script src="~/assets/adminform/pastembed.js"></script>

@* <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/trumbowyg.min.js" integrity="sha512-YJgZG+6o3xSc0k5wv774GS+W1gx0vuSI/kr0E0UylL/Qg/noNspPtYwHPN9q6n59CTR/uhgXfjDXLTRI+uIryg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/langs/tr.min.js" integrity="sha512-4Lri9C2eYjnoar37EumYfA8RgOZoMBOXTzkpSgkdvbRH7ts8OP/vsXnoouBAXdrU2x5NxUkdQGe4fBxSjvFiGA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/trumbowyg.colors.min.js" integrity="sha512-SHpxBJFbCaHlqGpH13FqtSA+QQkQfdgwtpmcWedAXFCDxAYMgrqj9wbVfwgp9+HgIT6TdozNh2UlyWaXRkiurw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/emoji/trumbowyg.emoji.min.js" integrity="sha512-DHqKLoY/BtGxNkGSK7yn3d2t+i+RdcLVvywAcsGnJJodqFEtPcLe/NxtpBPFpQG8KRf3Mkyc7PZjyJyeOIdbYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontfamily/trumbowyg.fontfamily.min.js" integrity="sha512-oATdSCPRZu3qFFyxrZ66ma2QbQybLqpRqwLRp2IQEaIABnEHcs2qDf6UOVA/V5LhBvxFxKCNvyVb/yQfwDkFhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-eFYo+lmyjqGLpIB5b2puc/HeJieqGVD+b8rviIck2DLUVuBP1ltRVjo9ccmOkZ3GfJxWqEehmoKnyqgQwxCR+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  *@
 
 <script>

        $(document).ready(function () {
           
        


            $("#cont").trumbowyg({

                 svgPath: '/assets/adminformcss/icons.svg',
                btns:[

                    ['viewHTML'],
                    //['undo','redo'],
                    ['formatting'],
                    //['strong''em','del'],
                    ['superscript','subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft','justifyCenter','justifyRigth','justifyFull'],
                    ['unorderedList','orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                   
                    ['foreColor', 'backColor'],
                    ['emoji'],
                    ['fontfamily'],
                     ['fontsize'],
                      ['fullscreen']

                ],

                lang:"tr",



            });





        });


    </script>

}
@section CustomCss{

<link href="~/assets/css/trumbowyg.css" rel="stylesheet" />
<link href="~/assets/admin/select2.css" rel="stylesheet" />
<link href="~/assets/adminformcss/colormincss1.css" rel="stylesheet" />
<link href="~/assets/adminformcss/colorcss2.css" rel="stylesheet" />
<link href="~/assets/adminformcss/emojimin.css" rel="stylesheet" />
<link href="~/assets/adminformcss/icontw.css" rel="stylesheet" />

 @*   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-vw0LMar38zTSJghtmUo0uw000TBbzhsxLZkOgXZG+U4GYEQn+c+FmVf7glhSZUQydrim3pI+/m7sTxAsKhObFA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/colors/ui/trumbowyg.colors.css" integrity="sha512-RB7DaYgqsHuf++1oNMRVmFUraD9AYvp3oE/xxs9bv9UZoXDrdVY4zJn6a4B7Jm4h0r3u/B8aMuBVhXOT+TXqzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.27.3/plugins/emoji/ui/trumbowyg.emoji.min.css" integrity="sha512-2RIZab3prIyPesUHpOb8YBlL441Q/sDqNK4v+3+LEjJyEg52kXRD/GGMuW+OXG5hCSBe9gTYNal51fdoQ0WiPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@

}