
@{
    ViewData["Title"] = "BackOrder";
}

<div class="mt-2 cs-parallax cs-style9 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">


                <div class="mt-3 cs-section__heading cs-style3">
                    <h2 class="cs-section__title">Ödeme, İptal ve İade Politikası </h2>
                </div>


                <div class="cs-height__45 cs-height__lg__45"></div>

             <h3>Genel</h3>

                <p>
Kullanmakta olduğunuz web sitesine, elektronik ortamda kaydolduğunuz ve hizmet ve ürün satın aldığınız takdirde, size sunulan ön bilgilendirme formunu ve mesafeli satış sözleşmesini kabul etmiş sayılırsınız.


                </p>
                <h3>Ödeme</h3>
                <p>
                    <ol>
                        <li>
                            Ödeme, her seans başı için hesaplanır ve değerlendirilir.
                        </li>
                        <li>
                            Bir seans için ödenen ücret, 50 dakikalık seansı kapsar
                        </li>
                        <li>
                            Ödeme havale, EFT ve Kredi kartı ile yapılır.
                        </li>

                        <li>
                            Seans başına gerçekleştirilecek ödeme, seans öncesinde gerçekleştirilir
                        </li>
                    </ol>

                </p>

                <h3>
                    Ödeme yapan ancak seansa katılmayan kişiler için iptal ve iade koşulları;
                </h3>

                <p>
                    <ol>
                        <li>
                            Ödeme, her seans başı için hesaplanır ve değerlendirilir.
                        </li>
                        <li>
                            Seansınızın olduğu gün iptal etmeniz halinde, uzman terapistin başka biriyle yapabileceği seansın engellenmesi ve acil durumu olan danışanların bundan faydalanılamaması gibi sorunlara sebep olunması sebebiyle ücret iadesi yapılmaz.

                        </li>
                        <li>
                            Acil ve zaruri sebeplerden ötürü seansın iptal edilmesi durumunda, ödemenizin bir sonraki seansınıza aktarılması hususunda görüşme sağlayabilirsiniz.

                        </li>

                       
                    </ol>

                </p>
                <h3>
                    Online seans esnasında internet veya telefon kesilirse;


                </h3>

                <p>
                    <ol>
                        <li>-Hattın hangi taraftan kaynaklı olarak kesildiğine bakılmaksınız, ilk 15 dakika içinde kesinti olursa bu seans sayılmaz ve başka bir tarihe tekrar seans verilir. </li>
                        <li>
                            - Kesinti ilk 15-35 dakika arasında gerçekleştiğinde, en yakın tarihte 35-15 dakika süren tamamlayıcı bir seans verilir. 
                        </li>                    
                        <li>
                            Son 15 dakika içinde kesinti olması halinde, kalan süre bir sonraki seansa eklenir ve hiçbir mağduriyet yaşamamanız sağlanır.

                        </li>
                    </ol>

                </p>
                <div class="cs-height__80 cs-height__lg__80"></div>



            </div>
        </div>
    </div>
    <div class="cs-height__125 cs-height__lg__70"></div>
    <div class="cs-parallax__shape cs-position1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 0.000,376.429 0.000,242.500 C0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
    <div class="cs-parallax__shape cs-position2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 -0.000,376.429 -0.000,242.500 C-0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
</div>