
@{
    ViewData["Title"] = "Sıkça Sorulan Sorular";
}


<div class="mt-2 cs-parallax cs-style9 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
             
                
                <div class="mt-3 cs-section__heading cs-style3">
                    <h2 class="cs-section__title">Sıkça Sorulan Sorular</h2>
                </div>


                <div class="cs-height__45 cs-height__lg__45"></div>
                <div class="cs-accordians cs-style1">

                    <div class="cs-accordian active">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">
                                Online Psikolog Merkezi Nedir?
                            </h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p> 
                                Birçok insan yaşam kalitesini artırmak, problemlerine çözüm bulabilmek gibi amaçlarla psikoterapi hizmetine ihtiyaç duyar.  Günümüz koşullarını göz önüne aldığımızda insanların çoğu, alanında deneyimli psikologlar ile yüz yüze terapiye erişim şansını bulamıyor.    “Online Psikolog Merkezi” ise terapi hizmetine ulaşmak isteyen herkese bu fırsatı sunmak için bir araya gelen deneyimli ve güvenilir psikologlardan oluşan bir platformdur.

                            </p>
                        </div>
                    </div><!-- .cs-accordian -->
                   
                    <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">Online Terapi Nasıl Yapılır?</h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>
                             
                                Online terapi hizmetinden yararlanmak için, internetin yanı sıra, telefon, tablet ya da bilgisayar gibi teknolojik araçlardan bir tanesi yeterlidir.

                            
                            </p>
                        </div>
                    </div><!-- .cs-accordian -->

                    <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">
                                Online Terapi Etkili Midir?
                            </h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>
                                Bu durum şartlara göre değişkenlik gösterse de son on yılda yapılan birçok araştırma online terapinin en az yüz yüze terapi kadar etkili olduğunu göstermektedir.

                            </p>
                        </div>
                    </div><!-- .cs-accordian -->


                    <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title" >Seanslar ne kadar sürer?</h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>
                                Seanslar 50 dakika sürmektedir. Seanslar her zaman tam saatinde başlar ve tam saatinde biter.
                            </p>
                        </div>
                    </div><!-- .cs-accordian -->


                    <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">
                                Terapiden yarar sağlamak için ne kadar süre devam etmek gerekir?
                            </h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>
                                Yaşadığınız psikolojik sorunların aşılması noktasında, kaç terapi gerektiğini ne siz ne terapistiniz öngörebilir. Zaten sizlere etik olarak kaç seans uygulanması gerektiği konusunda bilgi verilemez. Terapi sürecinin uzunluğuna psikolog ve danışan tarafından ortak bir şekilde yaşanan sorunun büyüklüğü, ne kadar süredir yaşandığı ve aciliyeti göz önüne alınarak karar verilir

                            </p>
                        </div>
                    </div><!-- .cs-accordian -->


                    <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">
                                Online Psikoterapi Sürecinde Anlattıklarım Gizli Kalır mı?
                            </h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>
                                Sitemizden hizmet alan danışanların gizliliği ve güvenliği önceliğimizdir. Online psikoterapi sürecinde anlattıklarınız istisnai durumlar dışında tamamen gizli kalır. Anlattığınız bilgiler, kendinize veya başkasına zarar verme durumunu barındırıyorsa, bu noktada yetkili kişilerle paylaşma durumu söz konusu olur. Bu gibi durumlar dışında sizlere destek sağlayacak olan terapistler, etik kurallar ve yasalar gereği her zaman bildiklerini gizlemekle yükümlüdür.
                            </p>
                        </div>
                    </div><!-- .cs-accordian -->


                          <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">
                                Online Terapi İle Tek Seansta Sorunlarımı Çözebilir Miyim?
                            </h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>
                                Online terapi veya yüz yüze terapi tek seansta sorunları çözme konusunda sizlere garanti vermez. Sorunların çözümü ve iyileşme olarak ifade edilen süreç, tamamen terapistinizle gerçekleştirdiğiniz etkili ve başarılı terapilere bağlıdır. Ayrıca sizlerin tedaviye nasıl yanıt verdiğiniz de yine önemli bir detaydır.

                            </p>
                        </div>
                    </div><!-- .cs-accordian -->


                          <div class="cs-accordian">
                        <div class="cs-accordian__head">
                            <h2 class="cs-accordian__title">
                                Bu sitede hizmet veren psikologlar güvenilir midir?
                            </h2>
                            <span class="cs-accordian__toggle"><i class="fas fa-caret-down"></i></span>
                        </div>
                        <div class="cs-accordian-body">
                            <p>Sitemizde hizmet verecek olan uzmanların diploma ve özgeçmiş bilgileri ekibimiz tarafından titizlikle incelenmektedir. Lisansını tamamlamamış, lisansı psikoloji kökenli olmayan ve danışmanlık alanında deneyim sahibi olmayan hiçbir uzmanla çalışmıyoruz.</p>
                        </div>
                    </div><!-- .cs-accordian -->




                </div><!-- .cs-accordians -->
                <div class="cs-height__80 cs-height__lg__80"></div>
                
                
            
            </div>
        </div>
    </div>
    <div class="cs-height__125 cs-height__lg__70"></div>
    <div class="cs-parallax__shape cs-position1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 0.000,376.429 0.000,242.500 C0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
    <div class="cs-parallax__shape cs-position2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 -0.000,376.429 -0.000,242.500 C-0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
</div>
