
@{
    ViewData["Title"] = "Gizlilik";
}




<div class="mt-2 cs-parallax cs-style9 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">


                <div class="mt-3 cs-section__heading cs-style3">
                    <h2 class="cs-section__title">Gizlilik Sözleşmesi</h2>
                </div>


                <div class="cs-height__45 cs-height__lg__45"></div>



                <p>Gizlilik S&ouml;zleşmesi</p>
                <p>Bu web sitesinin, kullanıcısının bu web sitesini kullanırken bu gizlilik politikasını veya yasaları ihlal ettiğini tespit ederse veya yetkili merciler tarafından tespit veya soruşturma talep edilirse, kullanıcıya ilişkin bilgileri ilgili mercilere bildirme hakkı vardır ve bu gibi benzer durumlarda bu site, gizlilik ilkelerinde &ouml;ng&ouml;r&uuml;len diğer &ouml;nlemleri de alabilir.</p>
                <p>Bu web sitesi, kullanıcılarının kişisel bilgilerini işbu gizlilik ilkelerinde belirtilen esas ve kapsam dışında hi&ccedil;bir şekilde kullanmayacaktır.</p>
                <p>Bu web sitesinin, resmi kurumların talebi &uuml;zerine gizli bilgileri kamu g&uuml;venliğinden sorumlu resmi kurumlarla paylaşma hakkı her zaman saklıdır.</p>
                <p>Bu web sitesi, sistemle ilgili sorunları tespit etmek ve bu web sitesinde doğabilecek sorunları anında &ccedil;&ouml;zmek i&ccedil;in gerektiğinde kullanıcıların IP adreslerini tespit eder ve kullanır. IP adresleri, kullanıcıları genel olarak tanımlamak ve demografik bilgiler toplamak i&ccedil;in de kullanılabilir. Bu site i&ccedil;inde, diğer sitelere bağlantılar sağlanabilir ve y&ouml;nlendirilebilir. Ancak bu web sitesi, bağlantılar yoluyla erişilen web sitelerinin gizlilik uygulamalarından ve i&ccedil;eriklerinden sorumlu değildir.</p>
                <p>Bu web sitesinde, kontrol&uuml;m&uuml;z altındaki bilgilerin kaybolmasını, k&ouml;t&uuml;ye kullanılmasını veya değiştirilmesini &ouml;nlemek amacıyla geniş g&uuml;venlik &ouml;nlemleri bulunmaktadır.</p>
                <p>&nbsp;</p>
                <p>Kişisel Veriler</p>
                <p>Bu web sitesinde kullanıcıların kişisel bilgilerine site dışında sadece kullanıcılar erişebilir ve bu veriler sadece kullanıcılar tarafından g&uuml;ncellenebilir. Ancak bu web sitesi, yalnızca kullanıcıların talebi &uuml;zerine kişisel verileri g&uuml;ncelleyebilir.</p>
                <p>Bu web sitesinden toplanan veriler şirket satışı, birleşmesi ya da yeniden yapılanması sonucunda kurumsal yapının değişmesi durumunda aktarılabilir.</p>
                <p>Bu web sitesi, bu gizlilik ilkelerinde bu web sitesinde yayınlamak suretiyle değişiklik yapabilir. Bu web sitesindeki gizlilik politikası koşullarında yapılan değişiklikler, bu web sitesinde yayınlandığı tarihten itibaren ge&ccedil;erlidir. Kişisel verilerin işlenmesi, verilerin kısmen veya tamamen otomatik veya herhangi bir veri kayıt sisteminin par&ccedil;ası olmasıyla otomatik olmayacak şekilde edinilmesi, kaydedilmesi, saklanması, tadil edilmesi, yeniden d&uuml;zenlenmesi, aktarılması, a&ccedil;ıklanması, sınıflandırılması, kullanılabilir duruma getirilmesi ve kullanılmasının engellenmesi gibi veriler &uuml;zerinde ger&ccedil;ekleştirilen b&uuml;t&uuml;n işlemlerdir.</p>
                <p>Bu web sitesi, kullanıcılarına siteyi kullanırken, daha iyi bir hizmet sunabilmek, &uuml;r&uuml;n ve hizmetlerini daha iyeye taşımak, site i&ccedil;in daha kolay kullanım sağlamak ve kullanıcıların &ouml;zel tercih ve ilgi duyduğu alanlara y&ouml;nelik &ccedil;alışmalar yapmak i&ccedil;in bazı kişisel verileri (isim, soyisim, yaş, cinsiyet, medeni durum, e-posta adresleri, telefon numaraları vb.) kullanıcılarından talep eder ve bu ama&ccedil; ile kişisel verileri toplar, işler ve kullanır. Bu web sitesi, daha iyi hizmet sağlamak ve sunulan hizmetlerini geliştirmek i&ccedil;in &uuml;&ccedil;&uuml;nc&uuml; kişilerle işbirliği kapsamında &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşılabilir. Kullanıcılar, kişisel verilerin bu web sitesi tarafından bu şartlar ile işlenmesini, kullanılmasını ve saklanmasını kabul etmektedir.</p>
                <p>&nbsp;</p>
                <p>Kişisel Verilerin Korunması Kanunu kapsamında kullanıcıların:</p>
                <p>a) kişisel verilerinin işlenip işlenmediğini bilme;</p>
                <p>b) kişisel verilerinin hakkında bilgi talep etme (işlenmişse);</p>
                <p>c) kişisel verilerinin işlenmesindeki amacı ve verilerinin amaca uygun kullanılıp kullanılmadığını anlama;</p>
                <p>d) yurt i&ccedil;inde ya da yurt dışında kişisel verilerinin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri &ouml;ğrenme;</p>
                <p>e) kişisel verilerinin eksik ya da yanlış işlenmiş olması durumunda d&uuml;zeltilmesini talep etme,</p>
                <p>f) kişisel verilerinin işlenmesini gerektiren ama&ccedil;ların ortadan kalkması durumunda kişisel verilerinin silinmesini talep etme,</p>
                <p>g) kişisel verilerin korunması kanunu&rsquo;nun 7. maddesi gereğince, yukarıda belirtilen d&uuml;zeltme, silme işlemlerinin kişisel verilerinin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişiye bildirilmesini talep etme,</p>
                <p>h) işlenen verilerinin sadece otomatik sistemler aracılığıyla analiz edilmesiyle aleyhlerine sonucun ortaya &ccedil;ıkmasına itiraz etme,</p>
                <p>i) kişisel verilerinin kanuna aykırı bir bi&ccedil;imde işlenmesi nedeniyle zarara uğramaları durumunda zararın giderilmesini talep etme hakkı vardır.</p>
                <p>&nbsp;</p>
                <p>Kişisel verilerinizin d&uuml;zeltilmesi, engellenmesi, silinmesi i&ccedil;in talepleriniz ve verilerin korunması ile ilgili herhangi bir sorunuz hakkında doğrudan web sitesi y&ouml;netimi ile iletişime ge&ccedil;iniz.</p>
                <p>&nbsp;</p>
                <p>&Ccedil;erezler</p>
                <p>Başka web siteleri &uuml;zerinde web sitesine gelen trafiği artırmak i&ccedil;in &ccedil;erezler (tanımlama dosyaları) kullanıyoruz. Kullanılan tanımlama bilgilerinin &ccedil;oğu kullanıcıların oturumlarını kapattıklarında bilgisayarlarının ana belleğinden silinir. Diğer kalan &ccedil;erezler ise kullanıcıların tercihlerinin kaydedilmesi, web sitesini yeniden ziyaret ettiklerinde kolayca tanımlanmaları ve y&ouml;nelimlerinin izlenmesi de dahil, servislerimizin genel kalitesini iyileştirmek ve arttırmak amacıyla kullanılırlar. Anlaşmalı olduğumuz kampanya ortakları, bu &ccedil;erezleri kullanarak kullanıcıların verilerini toplayamaz, kullanamaz ve dağıtamazlar. Bu &ccedil;erezler tarafımızca geliştirilmekte ve &ccedil;eşitli kontroller altında uygulamaya alınmaktadır. Bu kontroller kapsamında &ccedil;erezler vir&uuml;s veya kullanıcıların bilgisayarlarına zarar verebilecek bilgi ve veriler i&ccedil;ermez. Ancak, k&ouml;t&uuml; niyetli kullanıcılar tarafından sağlanan yazılımlar, engellenmeyen veriler veya kullanıcıların kendi hataları nedeniyle bilgisayarlarında bulunan vir&uuml;s ya da truva atı gibi programlardan hi&ccedil;bir şekilde sorumlu değiliz. Kullanıcılar eğer isterlerse tarayıcı ayarlarını &ccedil;erez dosyalarının g&ouml;nderilmemesi ya da &ccedil;erez dosyaları g&ouml;nderildiğinde uyarı alacak şekilde değiştirebilirler.</p>
                <p>Platform ile ilişkisi kesilen uzmanlar, hali hazırdaki danışanları ile terapi s&uuml;re&ccedil;leri tamamlanana dek ana sayfada g&ouml;r&uuml;nmeseler bile hizmet vermeyi kabul ederler.</p>
                <p>Bu web sitesine erişen t&uuml;m kullanıcılar, bu Gizlilik Politikasının h&uuml;k&uuml;mlerini kabul etmiş olur.</p>
                <p>Soru ve isteklerinizi info@onlinepsikologmerkezi.com mail adresinden bizlere bildirebilirsiniz.</p>



                <div class="cs-height__80 cs-height__lg__80"></div>



            </div>
        </div>
    </div>
    <div class="cs-height__125 cs-height__lg__70"></div>
    <div class="cs-parallax__shape cs-position1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 0.000,376.429 0.000,242.500 C0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
    <div class="cs-parallax__shape cs-position2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 -0.000,376.429 -0.000,242.500 C-0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
</div>
