
@{
    ViewData["Title"] = "Onam Formu";
}








<div class="mt-2 cs-parallax cs-style9 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">


                <div class="mt-3 cs-section__heading cs-style3">
                    <h2 class="cs-section__title">Onam Formu</h2>
                </div>


                <div class="cs-height__45 cs-height__lg__45"></div>
      





                <p>Online Terapi i&ccedil;in Bilgilendirilmiş Onam Formu</p>
                <p>Değerli Danışanlar;<br /><br /></p>
                <p>Aşağıda sizin ve online terapi i&ccedil;in tercih ettiğiniz uzmanların hak ve sorumluluklarına ilişkin bilgiler yer almaktadır. L&uuml;tfen t&uuml;m maddeleri dikkatlice okuyunuz. Bu bilgiler, sunduğumuz online terapi hizmetimizin daha verimli bir şekilde s&uuml;rd&uuml;r&uuml;lebilmesini ama&ccedil;lamaktadır.<br /><br /></p>
                <ol>
                    <li>Online terapi hizmeti, y&uuml;z y&uuml;ze g&ouml;r&uuml;şmelerin uygun olmadığı ya da tercih edilmediği durumlarda internet &uuml;zerinden &ccedil;evrimi&ccedil;i şekilde ger&ccedil;ekleşmektedir. Etkisi bilimsel &ccedil;alışmalar ile kanıtlanmış bir uygulama olan online terapi, &uuml;lkemizde aktif olarak uygulanmakta ve uzun yıllardır d&uuml;nya &ccedil;apında da tercih edilmektedir.<br /><br /></li>
                    <li>Seans s&uuml;releri  50  dakikadır.<br /><br /></li>
                    <li>G&ouml;r&uuml;şmenin verimliliği ve başarısı i&ccedil;in terapist ve danışan arasındaki kurulan işbirliği ve iletişim &ccedil;ok &ouml;nemlidir.<br /><br /></li>
                    <li>G&ouml;r&uuml;şme esnasında konuşulanlar terapistiniz ile sizin aranızda kalacaktır. Fakat intihar riski, kendine zarar verme ya da başka kişilere karşı saldırgan d&uuml;ş&uuml;nceler ve planlar, istismar durumu, &ouml;l&uuml;mc&uuml;l ve bulaşıcı bir hastalığa sahip olma durumu ve hastalığın bulaşabileceği kişilerden saklanması gibi durumlar s&ouml;z konusu olduğunda bu ilgili bilgiler sizlerin onayı olmadan meslek etiği ilkelerine ve hukuka uygun olarak bir y&uuml;k&uuml;ml&uuml;l&uuml;k olması halinde yalnızca ilgili yetkili makamlar ve mahkemeler ile paylaşılabilecektir.<br /><br /></li>
                    <li>Terapist elinde olmayan sebeplerden dolayı seansa gecikebilir, b&ouml;yle bir durum yaşandığında danışanın mağduriyete uğratılmaz. Danışma süresi, satış aşamasında belirtildiği süre kadar olacak şekilde gerçekleştirilir. <br /><br /></li>
                    <li>G&ouml;r&uuml;şme sırasında rahatsız edilmeyeceğinizden, bulunduğunuz odanın kapısının kapalı olduğundan, g&ouml;r&uuml;şmenin b&ouml;l&uuml;nmeyeceğinden emin olunuz ve kendiniz i&ccedil;in g&uuml;venli bir ortam oluşturunuz. Bu koşulları sağlamak sizlerin sorumluluğundadır.<br /><br /></li>
                    <li>G&ouml;r&uuml;şme &ouml;ncesinde alkol, uyuşturucu madde ve ila&ccedil; kullanmayınız.<br /><br /></li>
                    <li>Terapistiniz ile g&ouml;r&uuml;şmenizden &ouml;nce veya g&ouml;r&uuml;şme esnasında, acil durumlar i&ccedil;in adres ve iletişim bilgilerinizi vermeniz istenebilir.<br /><br /></li>
                    <li>Seans sırasında halka a&ccedil;ık yerlerde (internet kafelerdeki bilgisayarlar, iş yerlerindeki bilgisayarlar vb.) kullanılan bilgisayarlar tercih edilmemelidir. Kullandığınız bilgisayar istenmeyen durumlar ile karşılaşmamak adına kişisel bir bilgisayar olmalıdır.<br /><br /></li>
                    <li>Yapacağınız g&ouml;r&uuml;şmelerde g&uuml;venlik &ouml;nlemli &ouml;zel ve sizlere ait kişisel bir bilgisayar kullanmayı tercih edin. Kullandığınız bilgisayarın vir&uuml;s koruması ve g&uuml;venlik duvarı ayarları gibi g&uuml;venlik &ouml;nlemlerine sahip olması da sizler i&ccedil;in &ouml;nem taşımaktadır.<br /><br /></li>
                    <li>Gerekir ise sizlere doldurmanız i&ccedil;in birtakım &ouml;l&ccedil;ek ve formlar g&ouml;nderilebilir.<br /><br /></li>
                    <li>Seanslardan beklenen verimin alınmaması halinde, danışanın ilgi, &ccedil;ıkar ve ihtiya&ccedil;ları &ouml;n planda tutularak farklı bir terapiste, kuruma ya da danışanın durumunun değerlendirilmesi suretiyle bir Psikiyatriste y&ouml;nlendirmede bulunulabilir.<br /><br /></li>
                    <li>Terapilere devam etmek istemediğinizde, dilediğiniz zaman sonlandırma talebinde bulunabilirsiniz. Terapistiniz ile g&ouml;r&uuml;şt&uuml;ğ&uuml;n&uuml;z bir seans ardından sonlandırmak uygun olacaktır. Bu koşul sizi olası k&ouml;t&uuml; durumlardan koruyabilmek ve riskler hakkında bilgilendirebilmek i&ccedil;in vardır.<br /><br /></li>
                    <li>Yapılan seansın dijital ortamda kaydedilmeyeceğine, danışanın mahremiyetinin Kişisel Verilerin Korunması Kanunu kapsamında korunacağını taahh&uuml;t eden bilgilendirilmiş onam formunu kabul etmeniz ile birlikte sizler de aynı şekilde terapistin mahremiyetini koruyacağınızı taahh&uuml;t eden bilgilendirilmiş onam formunu kabul etmiş ve taahh&uuml;t etmiş olursunuz.<br /><br /></li>
                    <li>Bilgilendirilmiş onam formunu onaylamanız halinde, siz ve sizin dışınızda başka kimse tarafından seansların hi&ccedil;bir şekilde kayıt altına alınmayacağını, sizin dışınızdaki kimsenin g&ouml;r&uuml;şmeleri dinlemeyeceğini ve t&uuml;m kişisel verileri korumayı Kişisel Verilerin Korunması Kanunu kapmasında kabul ve taahh&uuml;t etmektesiniz.<br /><br /></li>
                    <li>Online terapiye katılım, yukarıdaki h&uuml;k&uuml;m ve koşulların kabul edilmesi, g&ouml;r&uuml;şmelerin herhangi bir b&ouml;l&uuml;m&uuml;n&uuml;n kayıt edilmesine ve &ouml;nceden izin alınmadan başka kişilerin g&ouml;r&uuml;şmeyi dinlemesine (telefon, vb. cihaz ve ara&ccedil; ile) izin verilmemesi olarak anlaşılacaktır. (Bu durumların yapılmaması, tamamiyle yasak olduğu belirtilmektedir.)<br /><br /></li>
                    <li>Kişisel Verilerin Korunması Kanunu ile tanımlanan, kullanımı ve paylaşımı ilgili s&uuml;re&ccedil; kapsamında işleme ama&ccedil;ları ile sınırlı olan kişisel verilerimin (&ouml;zel nitelikli kişisel veriler dahil) işlenmesi konusunda bilgilendirildiğimi, gereken s&uuml;re boyunca saklanması ve korunması hususlarında gerekli a&ccedil;ıklamanın yapıldığını, belirtilen konularda herhangi bir baskı veya tehdit altında olmadan h&uuml;r iradem ile rızamın olduğunu; işbu a&ccedil;ıklama ve aydınlatma beyanını tamamiyle okuduğumu ve anladığımı kabul ediyorum.<br /><br /><br /></li>
                </ol>
                <p>Online terapi hizmeti almayı kabul ediyorum.</p>
                <p>Yukarıda yer alan bilgilendirilmiş onam formunu okudum, anladım ve kabul ediyorum.</p>
                <p>(18 yaşından k&uuml;&ccedil;&uuml;klerin ebeveynleri tarafından onaylanması gerekmektedir.)</p>











                <div class="cs-height__80 cs-height__lg__80"></div>



            </div>
        </div>
    </div>
    <div class="cs-height__125 cs-height__lg__70"></div>
    <div class="cs-parallax__shape cs-position1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 0.000,376.429 0.000,242.500 C0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
    <div class="cs-parallax__shape cs-position2">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="485px" height="485px">
            <path fill-rule="evenodd" fill="rgb(242, 248, 255)" d="M242.500,-0.000 C376.429,-0.000 485.000,108.571 485.000,242.500 C485.000,376.429 376.429,485.000 242.500,485.000 C108.571,485.000 -0.000,376.429 -0.000,242.500 C-0.000,108.571 108.571,-0.000 242.500,-0.000 Z" />
        </svg>
    </div>
</div>
