@{
    ViewData["Title"] = "Viyana Psikoloji";
}

<h1 class="text-center mb-2 fw-bold">Viyana Psikoloji</h1>
<h3 class="text-center mb-2">Hizmetlerimiz</h3>
<hr width="75%" style="border:solid 2px black; "  class="mb-2 mx-auto"/>

<div class="row">

  <div class="col-md-6">

        <div class="card p-1 border border-3 shadow ">
            <img src="~/assets/servicesimage/resim5.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Bireysel Terapi</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            </div>
        </div>
    </div>


    <div class="col-md-6">

        <div class="card p-1 border border-3 shadow ">
            <img src="~/assets/servicesimage/resim1.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Oyun Terapisi</h5>
               @* <p class="card-text"></p>*@
            </div>
        </div>
    </div>


    <div class="col-md-6">

        <div class="card p-1 border border-3 shadow ">
            <img src="~/assets/servicesimage/resim2.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Kurumsal Danışmanlık</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            </div>
        </div>
    </div>



    <div class="col-md-6">

        <div class="card p-1 border border-3 shadow ">
            <img src="~/assets/servicesimage/resim3.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Aile Terapisi</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            </div>
        </div>
    </div>


    <div class="col-md-6">

        <div class="card p-1 border border-3 shadow ">
            <img src="~/assets/servicesimage/resim4.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Çift Terapisi</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            </div>
        </div>
    </div>

  


    <div class="col-md-6">

        <div class="card p-1 border border-3 shadow ">
            <img src="~/assets/servicesimage/resim6.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Psikoterapi Süpervizyonu</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            </div>
        </div>
    </div>






</div>




