

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    @await RenderSectionAsync("CustomCss",false)
    
   </head>
    <body>



    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menü">
                        <li class="nav-item">
                            <a  asp-action="index" asp-controller="home" asp-area="admin" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class=" text-white ms-1 d-none d-sm-inline">Admin Anasayfa</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="PskList" asp-controller="home" asp-area="admin" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class=" text-white ms-1 d-none d-sm-inline">Psikologlar</span>
                            </a>
                     
                        </li>
                        <li>
                            <a asp-action="AppointmentsControl" asp-controller="home" asp-area="admin" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class=" text-white ms-1 d-none d-sm-inline">Randevular</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="CategoryList" asp-controller="home" asp-area="admin" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class=" text-white ms-1 d-none d-sm-inline">Kategoriler</span>
                            </a>
                        </li>



                        @*CategoryList*@
                        <li>
                            <a asp-action="BlogList" asp-controller="home" asp-area="admin" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class=" text-white ms-1 d-none d-sm-inline">Blog</span>
                            </a>
                            
                        </li>

                        <li>
                            <a asp-action="MessageList" asp-controller="home" asp-area="admin" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class=" text-white ms-1 d-none d-sm-inline">Mesajlar</span>
                            </a>

                        </li>


                    </ul>
                    <hr>

                </div>
            </div>
            <div class="col py-3">

                @RenderBody()

            </div>
        </div>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="~/assets/admin/jquery.js"></script>

    <script src="~/assets/admin/select2.js"></script>
    <script src="~/assets/js/bootstrapmin.js"></script>

       @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",false)
    </body>
</html>             